@model EmployeesManagementSysTeam.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h2 class="text-center mb-4">Employee Details</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">First Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>
            <dt class="col-sm-4">Middle Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.MiddleName)</dd>
            <dt class="col-sm-4">Last Name</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>
            <dt class="col-sm-4">Email Address</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.EmailAddress)</dd>
            <dt class="col-sm-4">Phone Number</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt class="col-sm-4">Project Assigned</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.ProjectName)</dd>
        </dl>
    </div>
</div>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="text-center">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-success">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ml-2">Back to List</a>
        </div>
    </div>
</div>